@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This site is used to manage a database of alcoholic beverages.<br />
    To get started, first register an account and log in.<br />
    This will allow you to view, add, update, and delete beverages.
</p>
