@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Beverage.NET</h1>
    <p class="lead">Beverage.NET is a free web framework for managing a collection of alcoholic beverages. Enjoy!</p>
    <img src="~/Content/Pictures/stock_liquor.jfif" height="432" width="768" />
    <p><a href="http://localhost:51511/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To access the database of over 1000 beverages, register an account using an email and a 6 digit password.
        </p>
        <p><a class="btn btn-default" href="http://localhost:51511/Account/Register">Register New Account &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Log In</h2>
        <p>After logging in you can easily find beverages by name, price, or size by using the built in filter.</p>
        <p><a class="btn btn-default" href="http://localhost:51511/Account/Login">Log In &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Having trouble?</h2>
        <p>
            Get in touch with the administrator or manage your account.
        </p>
        <p><a class="btn btn-default" href="http://localhost:51511/Home/Contact">Contact Admin &raquo;</a></p>
        <p><a class="btn btn-default" href="http://localhost:51511/Manage">Manage Account &raquo;</a></p>
    </div>
</div>